{% extends 'base.html' %}
{% block title %}Confirmar remoção{% endblock title %}
{% block content %}

    {% include 'partials/navbar.html' %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5>Deseja realmente remover esse post?</h5>
                <p>"{{ post }}"</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-3">Confirmar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}